<section class="about-section py-5 bg-light">
    <div class="container text-center">
        <h2>About Us</h2>
        <p class="lead">A Luxurious Hotel</p>
        <div class="row mt-4">
            <div class="col-md-6">
                <p>
                    Welcome to Montana Resort, where luxury meets serenity. Our resort offers stunning views,
                    exceptional service, and world-class amenities to make your stay unforgettable.
                </p>
            </div>
            <div class="col-md-6">
                <img src="https://example.com/about-image.jpg" class="img-fluid rounded" alt="About Us" />
            </div>
        </div>
    </div>
</section>
@Html.Partial("_AboutUs")
