/* Set padding to keep content from hitting the edges */
.body-content {
    margin-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f8f9fa;
    margin-top: 70px;
}

.hero-section {
    background: url('https://images.unsplash.com/photo-1529290130-4ca3753253ae?q=80&w=1776&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D') no-repeat center center/cover;
    /*background-image: url('../Assets/Banner/banner.jpg') no-repeat center center/cover;*/
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

    .hero-section h1 {
        font-size: 4rem;
        font-weight: bold;
    }

    .hero-section p {
        font-size: 1.25rem;
        margin-bottom: 20px;
    }

.navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
}

footer {
    background-color: #343a40;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}
